{% extends 'base.html.twig' %}

{% block title %}Edit Itinerary{% endblock %}

{% block body %}
    <h1>Edit Itinerary</h1>

    {{ include('itinerary/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_itinerary_index') }}">back to list</a>

    {{ include('itinerary/_delete_form.html.twig') }}
{% endblock %}
