{% extends 'base.html.twig' %}

{% block title %}New Cost{% endblock %}

{% block body %}
    <h1>Create new Cost</h1>

    {{ include('cost/_form.html.twig') }}

    <a href="{{ path('app_cost_index') }}">back to list</a>
{% endblock %}
