<form method="post" action="{{ path('app_point_of_interest_delete', {'id': point_of_interest.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ point_of_interest.id) }}">
    <button class="btn">Delete</button>
</form>
