{% extends 'base.html.twig' %}

{% block title %}Edit PointOfInterest{% endblock %}

{% block body %}
    <h1>Edit PointOfInterest</h1>

    {{ include('point_of_interest/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_point_of_interest_index') }}">back to list</a>

    {{ include('point_of_interest/_delete_form.html.twig') }}
{% endblock %}
